{% extends "base_admin.html" %}

{% block title %}
Dashboard Admin - SentiView
{% endblock %}

{% block content %}

<!-- HEADER -->
<header class="admin-header">

    <div>

        <h1>Dashboard</h1>

        <p>
            Ringkasan aktivitas klasifikasi sentimen.
        </p>

    </div>

</header>

<!-- RINGKASAN -->
<section class="dashboard-content">

    <div class="dashboard-title">

        <h2>Ringkasan Klasifikasi</h2>

        <p>
            Ringkasan aktivitas klasifikasi sentimen.
        </p>

    </div>

    <div class="stats-grid">

        <div class="stat-card">

            <span class="stat-label">
                Total Klasifikasi
            </span>

            <span class="stat-value">
                {{ statistik.total }}
            </span>

        </div>

        <div class="stat-card positive">

            <span class="stat-label">
                Positive
            </span>

            <span class="stat-value">
                {{ statistik.positive }}
            </span>

        </div>

        <div class="stat-card neutral">

            <span class="stat-label">
                Neutral
            </span>

            <span class="stat-value">
                {{ statistik.neutral }}
            </span>

        </div>

        <div class="stat-card negative">

            <span class="stat-label">
                Negative
            </span>

            <span class="stat-value">
                {{ statistik.negative }}
            </span>

        </div>

    </div>

</section>

<!-- AKTIVITAS TERBARU -->
<section class="dashboard-content history-section">

    <div class="dashboard-title">

        <h2>Aktivitas Terbaru</h2>

        <p>
            Riwayat klasifikasi sentimen terbaru.
        </p>

    </div>

    <div class="history-table-wrapper">

        <table class="history-table">

            <thead>

                <tr>

                    <th>TEKS</th>

                    <th>SENTIMEN</th>

                    <th>WAKTU</th>

                </tr>

            </thead>

            <tbody>

                {% for data in riwayat[:5] %}

                <tr>

                    <td>
                        {{ data[1] }}
                    </td>

                    <td>

                        <span
                            class="sentiment-badge {{ data[3] }}"
                        >
                            {{ data[3] }}
                        </span>

                    </td>

                    <td>
                        {{ data[4] }}
                    </td>

                </tr>

                {% else %}

                <tr>

                    <td
                        colspan="3"
                        class="empty-history"
                    >
                        Belum ada aktivitas klasifikasi.
                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</section>

{% endblock %}