<!DOCTYPE html>
<html lang="id">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
        SentiView Admin
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/admin.css') }}"
    >

</head>


<body>

    <div class="admin-layout">

        {% include "components/sidebar.html" %}


        <main class="admin-content">

            {% block content %}
            {% endblock %}

        </main>

    </div>


    <script>

        const hamburgerButton =
            document.getElementById(
                "hamburgerButton"
            );

        const adminSidebar =
            document.getElementById(
                "adminSidebar"
            );

        const sidebarOverlay =
            document.getElementById(
                "sidebarOverlay"
            );


        hamburgerButton.addEventListener(
            "click",
            function() {

                hamburgerButton.classList.toggle(
                    "active"
                );

                adminSidebar.classList.toggle(
                    "open"
                );

                sidebarOverlay.classList.toggle(
                    "active"
                );

            }
        );


        sidebarOverlay.addEventListener(
            "click",
            function() {

                hamburgerButton.classList.remove(
                    "active"
                );

                adminSidebar.classList.remove(
                    "open"
                );

                sidebarOverlay.classList.remove(
                    "active"
                );

            }
        );


        const menuItems =
            document.querySelectorAll(
                ".menu-item"
            );


        menuItems.forEach(
            function(menuItem) {

                menuItem.addEventListener(
                    "click",
                    function() {

                        hamburgerButton.classList.remove(
                            "active"
                        );

                        adminSidebar.classList.remove(
                            "open"
                        );

                        sidebarOverlay.classList.remove(
                            "active"
                        );

                    }
                );

            }
        );

    </script>

</body>

</html>